.main-carousel {

    &__bg {
        background-color: #fff;
    }

    &__cell {
        position: relative;
    }
    
    &__spacer {
        @include aspect-ratio(1.43, 1);
        width: 100%;
        z-index: 0;
    }
    
    &__image {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        top: 0;
        z-index: 1;
    }

    &__title {
        mix-blend-mode: difference;
        color: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0 0 0 20px;
        transform: translate(0, 50%);
        z-index: 2;

        span {
            display: block;
            @for $i from 1 through 4 {
                &:nth-of-type(#{$i}){
                    animation-delay: #{$i/4}s;
                }
            }
        }
    }

    .tns-item {
        opacity: 0;
        transition: all 0.5s ease;
    }
      
    .tns-slide-active {
        opacity: 1;
    }

    @include mq($from: medium) {

        &__container {
            grid-column-start: 3;
            grid-column-end: 13;        
        }

        &__title {
            @include centerer($horizontal: false, $vertical: true);
            bottom: auto;
            margin: 0;
        }
    }
}