/**
 * Config: Colors
 * -----------------------------------------------------------------------------
 * Universal variables that have common roles and usages throughout the theme.
 *
 */

$BODY_COLOR: #fff;
$TEXT_COLOR: #000;
$COLOR_LINK: #00FF00;
$COLOR_LINK_HOVER: lighten($COLOR_LINK, 10%);
$HOVER_COLOR: #b0da9b;