/**
 * Config: Layout
 * -----------------------------------------------------------------------------
 * Variables for layout
 *
 */

$HEADER_HEIGHT: 100px;
$HEADER_HEIGHT_M: 120px;
$HEADER_HEIGHT_L: 140px;