.header {
    padding-top: $SPACING_L;
    position: absolute;
    top: 0;
    left: 0;
    height: $HEADER_HEIGHT;
    width: 100%;
    z-index: 1;

    &__title {
        color: $TEXT_COLOR;
    }

    @include mq($from: small) {
        padding-top: $SPACING_XL;
    }

    @include mq($from: medium) {
        height: $HEADER_HEIGHT_M;
        padding-top: $SPACING_2XL;
    }

    @include mq($from: large) {
        height: $HEADER_HEIGHT_L;        
        padding-top: $SPACING_3XL;
    }
}