.navigation {

    &__container {
        position: relative;
    }

    &__link {
        color: $TEXT_COLOR_LIGHT;
        position: absolute;
        right: 0;
        top: 0;

        &--rotate {
            transform: rotate(90deg) translate(100%, 0);
            transform-origin: right top;
            position: absolute;
        }
    }

    @include mq($from: small) {
        
    }

    @include mq($from: medium) {
        
    }

    @include mq($from: large) {
        
    }
}